.article {
  width: calc(2 / 3 * 100%);
  margin: calc(var(--spacing) * 10);
}

.text {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.65;
  font-weight: 400;
  color: #828282;
  margin: 0 0 calc(var(--spacing) * 5) 0;
}
