#root {
  /* max-width: 1280px; */
  /* margin: 0 auto;
  padding: 2rem; */
  /* text-align: center; */
  width: 100%;
}

.article-header {
  height: 400px;
  width: 100%;
  background-color: #bdbdbd;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("/public/seattle_GettyImages-522616386.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.article-title {
  font-family: "Playfair Display", serif;
  font-size: 3.25rem;
  line-height: 1.2;
  text-align: center;
  margin: 0 3.25rem 3.25rem 3.25rem;
}

.article-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem;
}

.sidebar {
  width: calc(1 / 3 * 100%);
}

.card {
  padding: 2em;
}

.debug-area {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.api-response {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.api-response-text {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: #828282;
}

.explore-button {
  background-color: #4f4f4f;
  font-family: "Lato", sans-serif;
  color: #f2f2f2;
  font-size: 1rem;
  margin: 1rem;
}
